<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Quote form</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <!--script src="quotehistory.js" defer></script-->
<body class="quotehistorybody">
        <nav class="navbar">
            <div class="navbar__container">
                <a href="#" id="navbar__logo"><img src="/images/logo.png" height="75px"></a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/profile" class="navbar__links">
                            Profile
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">
                            About Us
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a  class="navbar__links">
                            Request A Quote
                        </a>
                        <ul>
                            <li class="dropdown__item">
                                <a href="/quote" class="dropdown__links">Quote Form</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/history" class="dropdown__links">Quote History</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">
                            Contact Us
                        </a>
                    </li>
                    <li class="navbar_btn">
                        <a href="/logout" class="button">
                            Logout
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        
        <div class="titlepage">
            <h1 class="title">Quote History</h1>
        </div>
        <script src="/app.js"></script>
        <script>
            fetch('/sendData')
            .then(response => response.json())
            .then(data => {
            // Handle the received data
            const dataContainer = document.getElementById('orderhistory');
            let row ='';
            quote.forEach(item => {
                row +=`<tr><td>item.quoteID</td><td>item.gallon_requested</td><td>item.address</td><td>item.state</td><td>item.zipcode</td><td>item.price_per_gallon</td><td>item.total</td><td>item.deliverydate</td></tr>`
            });
            dataContainer.innerHTML = row;
        })
        .catch(error => {
            console.error('Error:', error);
        });
        </script>
        <div class="quote">
            <table class="historytable">
                <thead class="qoutehistory">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Gallon Requested</th>
                    <th>Price</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>Zipcode</th>
                    <th>Price per Gallon</th>
                    <th>Delivery Date</th>
                </thead>
                <tbody id ="orderhistory">
                    <tr>
                        <td colspan="10">You have placed no quotes</td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
