<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Quote form</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <script src="quotehistory.js" defer></script>
<body class="quotehistorybody">
        <nav class="navbar">
            <div class="navbar__container">
                <a href="#" id="navbar__logo"><img src="/images/logo.png" height="75px"></a>
                <div class="navbar__toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="/profile" class="navbar__links">
                            Profile
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">
                            About Us
                        </a>
                    </li>
                    <li class="navbar__item">
                        <a  class="navbar__links">
                            Request A Quote
                        </a>
                        <ul>
                            <li class="dropdown__item">
                                <a href="/quote" class="dropdown__links">Quote Form</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="/history" class="dropdown__links">Quote History</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item">
                        <a href="/" class="navbar__links">
                            Contact Us
                        </a>
                    </li>
                    <li class="navbar_btn">
                        <a href="/logout" class="button">
                            Logout
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        
        <div class="titlepage">
            <h1 class="title">Quote History</h1>
        </div>
        <script src="/app.js"></script>
        <script>
            fetch('/sendData')
            .then(response => response.json())
            .then(data => {
            // Handle the received data
            const dataContainer = document.getElementById('orderhistory');
            let row ='';
            quote.forEach(item => {
                row +=`<tr><td>item.quoteID</td><td>item.gallon_requested</td><td>item.address</td><td>item.state</td><td>item.zipcode</td><td>item.price_per_gallon</td><td>item.total</td><td>item.deliverydate</td></tr>`
            });
            dataContainer.innerHTML = row;
        })
        .catch(error => {
            console.error('Error:', error);
        });
        </script>
        <div class="quote">
            <table class="historytable">
                <thead class="qoutehistory">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Gallon Requested</th>
                    <th>Price</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>Zipcode</th>
                    <th>Price per Gallon</th>
                    <th>Delivery Date</th>
                </thead>
                <tbody>
                    <tr>
                        <td>11985</td>
                        <td>John Doe</td>
                        <td>03-12-2022</td>
                        <td>25</td>
                        <td>$2500</td>
                        <td>234 Lane Way</td>
                        <td>Houston, Texas</td>
                        <td>72464</td>
                        <td>100</td>
                        <td>03-20-2022</td>
                    </tr>
                    <tr>
                        <td>17845</td>
                        <td>Janet Deer</td>
                        <td>12-21-2023</td>
                        <td>42</td>
                        <td>$5000</td>
                        <td>34 Hunt Drive</td>
                        <td>Long Island, New York</td>
                        <td>50674</td>
                        <td>119.05</td>
                        <td>12-30-2023</td>
                        </tr>
                        <tr>
                            <td>23448</td>
                            <td>Langer Lamer</td>
                            <td>03-10-2023</td>
                            <td>30</td>
                            <td>$5700</td>
                            <td>567 Yonder Way</td>
                            <td>Detriot, Michigan</td>
                            <td>62536</td>
                            <td>190</td>
                            <td>03-25-2023</td>
                        </tr>
                        <tr>
                            <td>31088</td>
                            <td>Kathy Lamer</td>
                            <td>11-5-2023</td>
                            <td>14</td>
                            <td>$9000</td>
                            <td>406 Tandem Trill</td>
                            <td>San Francisco, California</td>
                            <td>27942</td>
                            <td>642.86</td>
                            <td>11-25-2023</td>
                        </tr>
                        <tr>
                            <td>11008</td>
                            <td>Walter Lranger</td>
                            <td>07-15-2022</td>
                            <td>10</td>
                            <td>$9000</td>
                            <td>321 AmityVille</td>
                            <td>Tucson, Arizona</td>
                            <td>32013</td>
                            <td>900</td>
                            <td>07-21-2022</td>
                        </tr>
                        <tr>
                            <td>11088</td>
                            <td>Malter Lreder</td>
                            <td>09-19-2021</td>
                            <td>17</td>
                            <td>$3700</td>
                            <td>208 Richard Lane</td>
                            <td>Seattle, Washington</td>
                            <td>97006</td>
                            <td>217.65</td>
                            <td>09-28-2021</td>
                        </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
