<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=deivce-width,initial-scale=1.0">
    <title>Team 5 Fuel Quote Service</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><img src="/images/logo.png" height="75px"></a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links">
                        Home
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/" class="navbar__links">
                        About Us
                    </a>
                </li>
                <li class="navbar__item">
                    <a  class="navbar__links">
                        Request A Quote
                    </a>
                    <ul>
                        <li class="dropdown__item">
                            <a href="./quote" class="dropdown__links">Quote Form</a>
                        </li>
                        <li class="dropdown__item">
                            <a href="./history.html" class="dropdown__links">Quote History</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="/" class="navbar__links">
                        Contact Us
                    </a>
                </li>
                <li class="navbar_btn">
                    <a href="./login.html" class="button">
                        Login
                    </a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <script src="/app.js"></script>
    
    <!--Quote Form-->
    <div class="form_style">
        <div class="container">
            <header>Fuel Quote Form</header>
            <form action="/save__quote" method="POST" class="form">

                <div class="input-box">
                    <p>Gallons Requested:</p>
                    <input type="number" name="gallons" placeholder="Number of Gallons" step=".001" class="form-control" min="0" required>
                </div>

                <div class="input-box">
                    <p>Delivery Address:</p>
                    <input type="text" id="address" name="address" placeholder="Street address" readonly></br>
                    <input type="text" name="secondAddress" placeholder="Apt, suite, unit, building, floor, etc." readonly></br>
                </div>

                <div class="input-box">
                    <p>City:</p>
                    <input type="text" id="city" name="city" placeholder="Enter your city" readonly>
                </div>

                <div class="input-box">
                    <p>State:</p>
                    <input type="text" id="state" name="state" placeholder="Enter your state" readonly>
                </div>

                <div class="input-box">
                    <p>Zip Code:</p>
                    <input type="number" id="zipcode" name="zip" placeholder="Enter your postal code" readonly>
                </div>

                <div class="input-box">
                    <p>Delivery Date:</p>
                    <input type="date" id="deliveryDate" name="deliveryDate" required>
                </div>

                <div class="input-box">
                    <p>Suggested Price / gallon:</p>
                    <input type="number" name="price" readonly>
                </div>

                <div class="input-box">
                    <p>Total Amount Due</p>
                    <input type="number" name="total" readonly>
                </div> 
                
                <div>
                    <button type="submit" class="submit_btn">Submit</button>
                </div>
            </form>
            <script>
            fetch('/data')
            .then(response => response.json())
            .then(data => {
                document.getElementById("address").value = data.addressOne;
                document.getElementById("city").value = data.city;
                document.getElementById("state").value = data.state;
                document.getElementById("zipcode").value = data.zipCode;
            })
            .catch(error => {
                console.error("Error fetching data:", error);
            });
            </script>
        </div>
    </div>

    <!--Footer Section-->
    <footer>
        <div class="footer__container">
            <div class="footer__links">
                <div class="footer__link--wrapper">
                    <div class="footer__link--items">
                        <h2>About Us</h2>
                        <a href="/">Contact</a>
                    </div>
                </div>
                <div class="footer__link--wrapper">
                    <div class="footer__link--items">
                        <h2>Location</h2>
                        <p>University of Houston</p>
                        <p>4800 Calhoun Road</p>
                        <p>Houston, TX</p>
                    </div>
                </div>
                <div class="footer__link--wrapper">
                    <div class="footer__link--items">
                        <h2>Team Members</h2>
                        <p>Ajakaiye, Tamilore</p>
                        <p>Emami, Daniel</p>
                        <p>Nguyen, Jacqueline</p>
                        <p>Pham, Viet H</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>